<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZipCode" value="75074"/>
    <add key="ModelNumber" value="MGC52LL/A"/>
    <add key="ProductName" value="iPhone 6 Plus 64GB"/>
    <add key="IntervalSeconds" value="90"/>
    <add key="NumberToSearch" value="5"/>
    <!-- Use Blank (""), PushalotNotifier, or BoxcarNotifier -->
    <add key="PushMethod" value="PushalotNotifier"/>
    <!-- If you used a push method, insert the key/token here -->
    <add key="PushApiKey" value=""/>
  </appSettings>
</configuration>