<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZipCode" value="75074"/>
    <add key="ModelNumber" value="MGC52LL/A"/>
    <add key="IntervalSeconds" value="90"/>
    <add key="NumberToSearch" value="5"/>
    <add key="PushalotKey" value=""/>
  </appSettings>
</configuration>